body {
    font-family: Arial, sans-serif;
    background-image: url('wow.png'); /* Înlocuiește cu calea către imaginea ta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opțional, face ca imaginea de fundal să rămână fixă la scroll */
  }
  